body {
    font-family: 'Chiron Sans HK Pro WS', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #333;
}

#header {
    color: white;
    height: 3em;
    line-height: 3em;
    padding-left: 3em;
    background-image: url("./main_img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#collage-source {
    z-index: 999;
    height: calc(100vh - 3em);
    width: 30vw;
    position: fixed;
    left: -30vw;
    background-color: #666;
    transition: .3s;
    border: 0.5em solid #222;
}
#collage-source.show {
    left: 0;
}

#collage-source .source-img {
    background-color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;    
    padding-top: 100%;
    filter: opacity(0.8);
    transition: .3s;
}
#collage-source .source-img:hover {
    filter: opacity(1);
}

#collage-tools {
    position: absolute;
    width: 20em;
    bottom: 0.5em;
    left: 31vw;
}

#bgcolor {
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
    margin-left: 1em;
}

#collage-area {
    display: flex;
    background-color: #DDD;
    background-size: cover;
    background-image: url("paper1.jpg");
    background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    border: 1em solid #333;
}

.target {
    position: absolute;
    width: 200px;
}

.target img {
    pointer-events: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

.moveable-buttons {
    z-index: -1;
    position: absolute;
    right: 0.5rem;
}

.target-control {
    width: 2.5em;
    height: 2.5em;
}