<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='reset.css' )}}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static', filename='index.css' )}}>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/ExtraLight.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Light.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Normal.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Regular.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Medium.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Bold.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.000/build/webfont/css/Heavy.css" />
    <title>{{GLOBAL_TITLE}}</title>

</head>

<body>
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">下載圖片</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="download-form">
                        <div class="mb-3">
                            <label for="InputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="InputEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="InputName" class="form-label">姓名</label>
                            <input type="text" class="form-control" id="InputName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">開始下載</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bgModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">背景樣式</h5>
                    <input type="color" id="bgcolor" title="background color" name="bgcolor" value="#DDDDDD" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container" style="max-height: 50vh; overflow-y: auto; overflow-x: hidden;">
                    <div class="row g-2">
                        {% for bg in bgs %}
                        {% set bg_url = url_for('static', filename='source/bg/'+bg['filename'])%}
                        {% set thumb_url = url_for('static', filename='source/bg/thumb/'+bg['filename'])%}
                        <div class="col-6">
                            <a href="#">
                                <div class="bg-img" style="background-image: url({{thumb_url}});" data-src={{bg_url}}>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column h-100">
        <div id="header">
            {{GLOBAL_TITLE}}
        </div>
        <div class="flex-grow-1 d-flex">
            <div id="collage-source">
                <div id="collage-tools">
                    <button class="btn btn-primary btn-lg" type="button" title="download" data-bs-toggle="modal"
                        data-bs-target="#submitModal"><i class="fas fa-file-download"></i></button>
                    <div class="moveable-buttons d-none">
                        <button class="btn btn-danger mt-1 target-control" type="button" title="delete (Del)"
                            name="collage-remove"><i class="far fa-trash-alt"></i></button>
                        <button class="btn btn-secondary mt-1 target-control" type="button" title="layer up (PgUp)"
                            name="collage-up"><i class="fas fa-arrow-up"></i></button>
                        <button class="btn btn-secondary mt-1 target-control" type="button" title="layer down (PgDn)"
                            name="collage-down"><i class="fas fa-arrow-down"></i></button>
                        <button class="btn btn-secondary mt-1 target-control" type="button" title="flip (x)"
                            name="collage-flip"><i class="fas fa-arrows-alt-h"></i></button>
                    </div>
                    <div class="source-controls">
                        <button class="btn btn-warning mr-1" type="button" title="add" name="collage-add"><i
                                class="fas fa-plus"></i></button>
                        <button class="btn btn-danger mr-1" type="button" title="clear" name="collage-clear"><i
                                class="fas fa-snowplow"></i></button>
                        <button class="btn btn-secondary mr-1" type="button" title="background" data-bs-toggle="modal"
                            data-bs-target="#bgModal"><i class="fas fa-scroll"></i></button>                        
                    </div>
                </div>
                <div id="source-box" class="container p-3">
                    <div class="row g-2">
                        {% for source in sources %}
                        {% set source_url = url_for('static', filename='source/'+source['filename'])%}
                        {% set thumb_url = url_for('static', filename='source/thumb/'+source['filename'])%}
                        <div class="col-md-4">
                            <a href="#">
                                <div class="source-img" style="background-image: url({{thumb_url}});"
                                    data-src={{source_url}}>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="collage-box">
                <div id="collage-background">
                    <img id="image-background"></img>
                </div>
                <div id="collage-area"></div>
            </div>
        </div>
    </div>
    
    <div id="loading" class="d-none">        
        <img src="{{url_for('static', filename='loading.svg' )}}" alt="">
    </div>
    <script src="https://kit.fontawesome.com/cc94f52acd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>
    <script src={{url_for('static', filename='html2canvas.min.js' )}}></script>
    <script src={{url_for('static', filename='index.js' )}}></script>
</body>